 body {

     margin: 0;
     padding: 0;
 }


 .Container {
     text-align: center;
     padding-top: 1.5%;
     padding-bottom: 1.5%;

 }

 .container {
     display: flex;
     place-content: space-between;
     margin: 0;
     padding-right: 50px;


 }

 /* .heading.icon-container:hover {
     color: green;
     background-color: red;
 } */

 .nav-links {
     display: flex;
     position: relative;




 }

 .nav-links li {
     list-style: none;
     display: flex;
     text-align: center;
     align-items: center;
 }

 .navbar a {
     text-decoration: none;
     margin-left: 30px;
     font-weight: 700px;
 }


 .Navlink {
     display: flex;
 }

 .Navlink {
     border: 1px;
     padding-left: 2px;

     /*le petit carro sous airbnb votre maison*/
 }

 .body {
     background-color: white;
     height: 100%;
     width: 100vw;
     border-radius: 25px;
     border-bottom-right-radius: 0%;
     border-bottom-left-radius: 0%;
 }

 #design {
     color: 0;
     font-weight: lighter;
     font-size: medium;
     font-family: 'Times New Roman', Times, serif;

     /* arrangement du cencdrement des check out*/
 }

 #hover :hover {
     background-color: lightblue;
     border-radius: 20px;
     padding: 7px;

     /*arrangement des element du lentete airbnb votre maison*/
 }

 #Hover :hover {
     background-color: white;
 }

 .hover {
     padding: 20px;
     margin: 20px;


 }

 .search2 {
     border: solid;
     width: 75%;
     border-radius: 60px;
     margin: 10px;
     padding: 10px;
     display: flex;
     gap: 1px;
     /* grid-template-columns: 200px 200px 180px 310px; */
     margin-left: 15%;
     margin-right: 20%;
     place-content: center;

     /*arrangement de check */
 }

 .search2 div {
     /* border: solid; 
     margin: 12px;
     border-radius: 45px;
     color de tous les element dans le tableau*/
     padding-left: 17px;



 }

 input {
     text-align: center;
     border: none;
     display: flex;
     margin-top: 0;
     border-radius: 20%;

     /*les element dans la tableau de input*/
 }

 .gen {

     display: flex;

 }

 #Hover :hover {
     background-color: gainsboro;
     border-radius: 1cm;

     /* color derier les check out dans le tableau*/


 }

 .heading .icon-item:hover {
     border-bottom: 2px solid rgba(220, 220, 220, 0.877);

     /*color derriere les outies maison et cisine8*/

 }

 .icon-container {
     display: flex;
     place-content: space-evenly;

     /*position de symbole des maisons, cuisine & douche*/

 }

 /* .pictures {
     font-size: 15px;
     font-weight: lighter;
     font-family: 'Times New Roman', Times, serif;
 }

 .pictures {
     border: solid;
     height: 280px;
     width: 280px;
     background-color: white;
     margin-bottom: 30px;
     border-radius: 1cm;


 } */

 .grid {
     padding: 20px;
     display: grid;
     grid-template-columns: 300px 300px 300px 300px;
     gap: 10px;

     /*allignement des photos et dse element sous gatways*/
 }

 button {
     display: flex;
     place-content: space-around;
     width: 50px;
     height: 30px;
     background-color: white;

     /*le carrer sous len tete de airbnb votre maison*/
 }

 .pictures {
     font-size: 15px;
     font-weight: lighter;
     font-family: 'Times New Roman', Times, serif;
 }

 .pictures {
     border: solid;
     height: 280px;
     width: 280px;
     background-color: white;
     margin-bottom: 30px;
     border-radius: 1cm;


 }

 .pictures {
     overflow: hidden;
     overflow-x: visible;
     padding: 0%;
     overflow-y: auto;
     border-block-color: red;
     border-radius: 1cap;

 }

 .pictures img {
     height: 100%;
     width: 100%;
     object-fit: cover;

 }

 .heading {
     margin: 20px;
     padding: 20px;
     border-style: circle;
     /*Arrangemnet de tete*/
 }

 /*.bottom {
     margin: 20px;
     display: block;
     text-align: center;
 }*/


 .Grid {
     display: grid;
     grid-template-columns: 180px 18px 18px 18px 18px;
     gap: 50px;
     margin-top: 30px;
 }

 .placeholder {
     font-size: x-small;
     font-weight: bold;
     background-color: gainsboro;

     /*les ecriture des petites lettre dans le tableau*/
 }

 .placeholder:hover {
     background-color: white;
 }

 .list {
     display: flex;
     text-align: center;
     align-items: center;
     margin: 50px;
     padding: 50px;
     gap: 10%;

     /*distance entre les icons*/
 }

 .list {
     display: inline-block;
     text-align: center;

 }

 .list {
     width: max-content;
     align-items: center;



 }

 .list a {

     text-decoration: none;
     display: flex;
     position: relative;
     color: black;


 }

 .list {
     text-decoration: none;
 }

 /* h2 {
     text-align: center;
     text-decoration: none;

 } */

 .bottom {
     background-color: gainsboro;
 }

 .down {
     display: flex;
     position: relative;
     place-content: space-between;

     /*arrangement des element sous inspration gateway*/
 }

 .down a {
     text-decoration: none;

 }

 .down a:hover {
     border-bottom: 2px solid;
 }

 h3 {
     text-decoration: none;
     display: flex;
     position: relative;
 }